// Custom.scss
// Option A: Include all of Bootstrap

@import "../node_modules/bootstrap/scss/bootstrap";

@include media-breakpoint-only(xs) { 
	#header {
		h1 {
			font-size:16px;
			margin-top:10px;
		}
	}
}
@include media-breakpoint-only(sm) { 

	#header {
		h1 {
			font-size:18px;
		}
	}

}
@include media-breakpoint-only(md) { 
	#header {
		h1 {
			font-size:24px;
		}
	}
}
@include media-breakpoint-only(lg) { 

	#header {
		h1 {
			font-size:30px;
		}
	}

}
@include media-breakpoint-only(xl) { 

	#header {
		h1 {
			font-size:35px;
		}
	}


}



body {
	background-color:#235940;
}
#header {
	padding:10px 0px 10px 0px;
	h1 {
		color:#fdb813;
	}
	.navbar {
		border-bottom:3px solid #fdb813;
	}
	.navbar-brand {
		
		.elac-logo {
			max-width:100px;
			margin-left:10px;
		}
		.nav-text {
			margin:0px 0px 0px 0px;
			color:#fdb813;
		}
	}
	
	
}
.bd-carousel {
	margin-top:80px;
}

.unique-row [class*=col-]{
	padding-top: .75rem;
	padding-bottom: .75rem;
//	background-color: rgba(86, 61, 124, 0.15);
//	border: 1px solid rgba(86, 61, 124, 0.2);
	.sub-title {
		color:#fdb813;
	}
}

#myFooter {
	.footer-copyright {
		padding:20px 0px;
		color:#999;
	}	
}

